{
  "jsx-runtime": {
    "plugins": ["react"],
    "plugin:react/jxs-runtime": "extends",
    "parserOptions": {
      "ecmaFeatures": {
        "jsx": true
      }
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
