{
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "extends": ["eslint:all", "plugin:react/all", "plugin:react/jxs-runtime"],
  "plugins": ["react"]
}
